@import 'variables';
@import 'mixins';

%dropdown {
  @include flex-flow(row nowrap);
  align-items: center;
  flex-grow: 1;
  padding: $x-small-spacing 0;

  .content {
    color: $color-primary;
    flex-grow: 1;
  }
}

%dropdown-with-underline {
  @extend %dropdown;
  border-bottom: 1px $color-dark-gray solid;
}

%ellipsis-safe-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%full-screen {
  height: 100vh;
  width: 100vw;
}

%gray-text {
  color: $color-gray;
}

%row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

%spaced {
  padding: $spacing;
}

%title {
  font-family: $font-stack-title;
  font-size: $font-large-size;
  justify-content: center;
  letter-spacing: 0;
  line-height: 40px;
}
