@import 'variables';
@import 'mixins';

%dark-transparency {
  @include button-transparency(.1, $color-primary);
}

%ellipsis-safe-text {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%full-screen {
  height: 100vh;
  width: 100vw;
}

%gray-text {
  color: $color-gray;
}

%gray-underline {
  border-bottom: 1px $color-light-gray solid;
}

%light-transparency {
  @include button-transparency(.9);
}

%row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

%title {
  font-family: $font-stack-title;
  font-size: $font-large-size;
  justify-content: center;
  letter-spacing: 0;
  line-height: 40px;
}
