@import 'variables';

@mixin flex-flow($content: row nowrap) {
  display: flex;
  flex-flow: $content;
}

@mixin light-transparent-gradient($color: $color-light-gray) {
  background: $color linear-gradient(transparent, $low-alpha);
}

@mixin button-transparency($opacity, $color: null) {
  background: rgba(0, 43, 86, $opacity);
  @if $color != null {
    color: $color;
  }
}

@mixin gray-underline {
  border-bottom: 1px $color-light-gray solid;
}

@mixin slide-right($start, $end) {
  0% {
    left: $start;
  }

  100% {
    left: $end;
  }
}

@mixin media {
  @media only screen and (min-width: $screen-break-point) {
    @content;
  }
}

@mixin media-smaller {
  @media only screen and (max-width: $screen-break-point-max) {
    @content;
  }
}

@mixin drop-shadow {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 0 #c8c8c8;
}
