// Application colors
$color-primary: #002b57;
$color-neon-green: #00e8a4;
$color-neon-red: #ff3548;

// Greyscale
$color-dark-gray: #606060;
$color-gray: #757575;
$color-light-gray: #e6e6e6;
$color-white: #fff;

$min-view-width: 300px;
$screen-break-point: 600px;

$x-large-spacing: 2.5rem;
$larger-spacing: 2.25rem;
$large-spacing: 2rem;
$largish-spacing: 1.75rem;
$spacing: 1.5rem;
$smallish-spacing: 1.25rem;
$small-spacing: 1rem;
$smaller-spacing: .75rem;
$x-small-spacing: .5rem;

$font-stack: HelveticaNeue, sans-serif;
$font-stack-title: Helvetica Neue-Light, sans-serif;
$font-regular-line-height: 24px;
$font-regular-size: 16px;
$font-large-size: 32px;

$low-alpha: rgba(0, 0, 0, .05);

$button-line-height: 16px;
