@import '../imports/all';

.business {
  @include flex-flow(row);
  align-items: center;
  height: 35vw;
  justify-content: center;
  margin: $small-spacing 0;
  min-height: 100px;
  width: 100%;

  .image {
    height: 100%;
    object-fit: cover;
    width: 35%;
  }

  .status {
    border-radius: 8px;
    color: $color-primary;
    flex-shrink: 0;
    font-size: .5rem;
    padding: 0 .35rem;
    text-align: center;

    &.open {
      background: $color-neon-green;
    }

    &.closed {
      background: $color-neon-red;
      color: $color-white;
    }
  }

  .business-details {
    @include flex-flow(column);
    align-content: space-between;
    flex: 1;
    height: 100%;
    padding-left: 5%;
    width: 60%;

    > * {
      flex-grow: 0;
      margin: .2rem 0;
      width: 100%;
    }

    .star-rating {
      height: 16px;
    }

    .button {
      align-items: flex-end;
      background-color: transparent;
      color: $color-primary;
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      padding: 0;
      text-align: left;

      .arrow {
        padding-left: .5rem;
      }

      .text {
        @extend %gray-underline;
        color: $color-primary;
      }
    }

    .name {
      font-size: 20px;
    }
  }
}


.detail-info,
.business-info {
  align-items: center;
  color: $color-gray;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  font-size: .75rem;
  letter-spacing: .5px;
  line-height: 15px;
  width: 100%;

  > *,
  .button .text {
    flex-grow: 0;
    margin: 0;
    width: unset;
  }

  &,
  & .status {
    @extend %ellipsis-safe-text;
  }

  .category {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .separator {
    margin: 0 .3rem;
  }

  .price {
    flex: 1 0 .1rem;
  }
}

.detail.view {
  .detail-header {
    @include flex-flow(column nowrap);
    justify-content: space-around;

    > *:not(.title) {
      margin-top: $small-spacing;
    }
  }

  .detail-info {
    align-items: baseline;
    flex: 1;
    text-transform: uppercase;

    .status {
      color: $color-dark-gray;
      flex-shrink: 0;
      padding: 0 0 0 .35rem;
      text-align: center;
      text-transform: uppercase;
    }

    .indicator {
      border-radius: .5rem;
      min-height: .5rem;
      min-width: .5rem;

      &.open {
        background-color: $color-neon-green;
      }
    }
  }

  .detail-map {
    left: -$spacing;
    margin: $larger-spacing 0 $spacing;
    position: relative;
    width: 100vw;
  }

  .detail-images {
    height: 25vh;
    margin: $larger-spacing $spacing $larger-spacing 0;

    .detail-image {
      height: 100%;
      overflow-x: auto;
    }
  }

  .review-count {
    color: $color-dark-gray;
    margin: $large-spacing 0;
  }

  .hr {
    width: 100%;

    &.full {
      left: -$spacing;
      position: relative;
      width: 100vh;
    }
  }
}
