@import '../imports/all';

.business {
  @include flex-flow(row);
  align-items: center;
  height: 35vw;
  justify-content: center;
  margin: $small-spacing 0;
  min-height: 100px;
  width: 100%;

  @include media {
    @include flex-flow(column nowrap);
    height: unset;
  }

  .image {
    height: 100%;
    object-fit: cover;
    width: 35%;

    @include media {
      height: $image-height * .75;
      width: 100%;
    }
  }

  .status {
    border-radius: 8px;
    color: $color-primary;
    flex-shrink: 0;
    font-size: .5rem;
    padding: 0 .35rem;
    text-align: center;

    &.open {
      background: $color-neon-green;
    }

    &.closed {
      background: $color-neon-red;
      color: $color-white;
    }
  }

  .business-details {
    @include flex-flow(column);
    align-content: space-between;
    flex: 1;
    height: 100%;
    padding-left: 5%;
    width: 60%;

    @include media {
      padding: 0;
      width: 100%;

      > * {
        flex-grow: 1;
      }

      .business-info {
        @include status-verbose;

        .status {
          &.open, &.closed {
            background-color: transparent;
          }

          &.open::after {
            content: ' Now';
          }
        }
      }

      .business-info,
      .status {
        align-items: center;
        flex: 1 0 auto;
        font-size: .5rem;
      }

      .status {
        flex-grow: 0;
        margin-left: $x-small-spacing / 2;
      }

      .learn-more {
        flex: 0;
      }
    }

    > * {
      flex-grow: 0;
      margin: .2rem 0;
      width: 100%;
    }

    .business-info {
      margin-top: $x-small-spacing;
    }

    .star-rating {
      height: 16px;
    }

    @media only screen and (max-width: $screen-break-point-max) {
      .button {
        align-items: flex-end;
        background-color: transparent;
        color: $color-primary;
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        padding: 0;
        text-align: left;

        .arrow {
          padding-left: .5rem;
        }

        .text {
          @include gray-underline;
          color: $color-primary;
        }
      }
    }

    .name {
      font-size: 20px;
    }
  }
}


.detail-info,
.business-info {
  align-items: center;
  color: $color-gray;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  font-size: .75rem;
  letter-spacing: .5px;
  line-height: 15px;
  width: 100%;

  > *,
  .button .text {
    flex-grow: 0;
    margin: 0;
    width: unset;
  }

  &,
  & .status {
    @extend %ellipsis-safe-text;
  }

  .category {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .separator {
    margin: 0 .3rem;
  }

  .price {
    flex: 1 0 .1rem;
  }
}

.detail.view {
  max-width: 900px;

  @include media {
    margin: auto;
  }

  @include media-smaller {
    > .hr.full:nth-of-type(2) {
      display: none;
    }
  }

  .detail-header {
    @include flex-flow(column nowrap);
    justify-content: space-around;

    @include media {
      margin-bottom: $x-large-spacing;
    }

    > *:not(.title) {
      margin-top: $small-spacing;
    }
  }

  .detail-info {
    @include status-verbose;

    .status {
      @include media {
        text-transform: capitalize;
      }
    }
  }

  .detail-map {
    background-image: url('/mapPlaceholder.svg');
    background-position: center;
    background-size: cover;
    height: $image-height * .75;
    margin: $spacing (-$spacing);
    min-width: $min-view-width;
    position: relative;
    width: 100vw;

    @include media {
      height: $image-height;
      left: 0;
      order: 0;
      width: 50%;
    }
  }

  .detail-container {
    @include flex-flow(row wrap);

    @include media {
      overflow-x: hidden;
    }
  }

  .detail-address {
    flex-basis: 100%;
    order: 1;

    @include media {
      @include flex-flow(row nowrap);
      margin-bottom: $larger-spacing;
      order: 2;

      > *::after {
        color: transparent;
        content: 'I'; // decent spacer
      }
    }
  }

  .detail-images {
    display: grid;
    grid-gap: $small-spacing;
    grid-template-columns: repeat(6, 40vw);
    grid-template-rows: minmax($image-height * .75, 1fr);
    margin: $spacing 0;
    order: 2;
    width: 40vw;

    @include media {
      height: 20%;
      margin-left: 1.5rem;
      order: 1;
      width: 40%;
    }

    .detail-image {
      height: 55vw;
      margin-left: $small-spacing;
      min-height: 150px;
      min-width: 270px;
      object-fit: cover;
      width: 80vw;

      @include media {
        height: $image-height;
        margin-left: $small-spacing;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .review-count {
    color: $color-dark-gray;
    margin: $large-spacing 0;
  }

  .hr {
    width: 100%;

    &:not(.full) {
      @include media {
        left: 0;
        width: 100%;
      }
    }

    &.full {
      left: -$spacing;
      position: relative;
      width: 100vh;

      @include media {
        left: -3 * $small-spacing;
      }
    }
  }
}
