@import '../imports/all';

.card {
  @include flex-flow(row);
  align-items: center;
  height: 40vw;
  justify-content: center;
  margin: $small-spacing 0;
  min-height: 100px;
  width: 100%;

  .image {
    height: 100%;
    object-fit: cover;
    width: 35%;
  }
}

.card-details {
  @include flex-flow(column);
  align-content: space-between;
  flex: 1;
  height: 100%;
  padding-left: 5%;
  width: 60%;

  > * {
    flex-grow: 0;
    margin: .2rem 0;
    width: 100%;
  }

  .star-rating {
    height: 16px;
  }

  .button {
    align-items: flex-end;
    background-color: transparent;
    color: $color-primary;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    padding: 0;
    text-align: left;

    .arrow {
      padding-left: .5rem;
    }

    .text {
      @extend %gray-underline;
      color: $color-primary;
    }
  }

  .name {
    font-size: 20px;
  }
}


.card-info > *,
.card-details .button .text {
  flex-grow: 0;
  margin: 0;
  width: unset;
}

.card-info {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  font-size: .8rem;
  width: 100%;

  &,
  & .status {
    @extend %ellipsis-safe-text;
  }

  .category {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .separator {
    margin: 0 .3rem;
  }

  .price {
    flex: 1 0 .1rem;
  }

  .status {
    border-radius: 8px;
    color: $color-primary;
    flex-shrink: 0;
    font-size: .5rem;
    letter-spacing: .5px;
    line-height: 15px;
    padding: 0 .35rem;
    text-align: center;

    &.open {
      background: $color-neon-green;
    }

    &.closed {
      background: $color-neon-red;
      color: $color-white;
    }
  }
}
