@import '../imports/all';


.filter {
  justify-content: space-between;

  &.open {
    > .filter-open {
      background-color: $color-white;
      box-shadow: 0 0 $small-spacing $small-spacing $color-dark-gray;
      height: 100vh;
      left: 0;
      opacity: 1;
      overflow: scroll;
      position: fixed;
      top: 0;
      width: 100vw;

      > .row {
        @extend %spaced;
      }

      .hr:not(.full) {
        margin: 0 $spacing;

        &:last-child {
          margin-bottom: $x-large-spacing;
        }
      }
    }
  }

  &.closed {
    > .filter-open,
    > .filter-open > * {
      display: none;
      opacity: 0;
    }
  }

  .control::before {
    content: '\f0d7';
  }

  &-closed {
    padding: 0 $spacing;

    .label {
      margin: $spacing $small-spacing $spacing 0;
    }

    .dropdown {
      @extend %dropdown-with-underline;
    }
  }

  &-large {
    display: none;
  }
}

@include media($screen-break-point) {
  .filter {
    &-closed.row,
    &-open {
      display: none;
    }

    &-large {
      display: block;
      margin: $spacing;

      .label {
        font-size: 1rem;
        text-transform: none;
      }
    }
  }
}

.label {
  &,
  &.open-now {
    font-size: .8rem;
    text-transform: uppercase;

    > .toggle {
      min-height: 19px;
    }
  }
}

.dropdown {
  text-transform: capitalize;
}
