@import '../imports/all';

.filter.closed {
  .row,
  &.row {
    justify-content: space-between;
    padding: 0 $common-spacing;

    &.spaced {
      padding: $common-spacing;
    }
  }

  .label {
    @extend %gray-text;
    margin: $common-spacing $common-small-spacing $common-spacing 0;
  }

  .dropdown {
    @include flex(row, nowrap);
    align-items: center;
    border-bottom: 1px $color-dark-gray solid;
    padding: $common-x-small-spacing 0;
  }

  .dropdown,
  .content {
    color: $color-primary;
    flex-grow: 1;

    .control::before {
      content: '\f0d7';
    }
  }
}

.filter.open {
  &.showing {
    animation: fadeIn .25s linear;
    background-color: $color-white;
    box-shadow: 0 0 $common-small-spacing $common-small-spacing $color-dark-gray;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  &.hidden,
  &.hidden * {
    display: none;
  }
}
