@import '../imports/all';

.button,
.dropdown,
.switch {
  &-filter {
    @extend %spaced;

    cursor: pointer;
    user-select: none;

    .label {
      text-transform: uppercase;

      &.selected {
        font-weight: bold;
      }
    }
  }
}

.button-filter {
  .options {
    margin: $spacing 0 0;

    .option {
      border: 1px $color-light-gray solid;
      flex: 1 0 20%;
      font-size: .8rem;
      justify-content: space-between;
      padding: $smaller-spacing 0;
      text-align: center;
      text-transform: uppercase;

      &.selected {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

.dropdown-filter.row {
  @include flex-flow(row wrap);
  padding-bottom: 0;

  .label {
    &.help {
      color: $color-gray;
      text-transform: none;
    }
  }

  input {
    display: none;

    &:checked + .dropdown-menu {
      transform: scaleX(1);
    }
  }

  > .display {
    @extend %dropdown;
    margin: $x-small-spacing 0;
    width: 100%;
  }
}

.dropdown-menu {
  @include flex-flow(row wrap);
  cursor: pointer;
  height: 100%;
  padding: 0 $spacing;
  user-select: none;

  &.closed {
    * {
      display: none;
      height: 0;
    }
  }

  .option {
    > input {
      display: none;

      &:checked + .text {
        color: $color-primary;
      }
    }

    &.row {
      justify-content: flex-start;
    }

    svg {
      margin: $smaller-spacing $small-spacing $smaller-spacing 0;

      @include media {
        margin: $small-spacing;
      }
    }
  }

  .ellipsis {
    text-align: center;
    width: 100%;
  }
}

.filter {
  justify-content: space-between;

  &.open {
    > .filter-open {
      background-color: $color-white;
      box-shadow: 0 0 $small-spacing $small-spacing $color-dark-gray;
      height: 100vh;
      left: 0;
      opacity: 1;
      overflow: auto;
      position: fixed;
      top: 0;
      width: 100vw;

      > .row {
        @extend %spaced;
      }

      .hr:not(.full) {
        margin: 0 $spacing;

        &:last-child {
          margin-bottom: $x-large-spacing;
        }
      }
    }
  }

  &.closed {
    @include media-smaller {
      > .button.clear,
      + .hr {
        display: none;
      }
    }

    > .filter-open,
    > .filter-open > * {
      display: none;
      opacity: 0;
    }
  }

  .control::before {
    content: '\f0d7';
  }

  &-closed {
    padding: 0 $spacing;

    .label {
      margin: $spacing $small-spacing $spacing 0;
    }

    .dropdown {
      @extend %dropdown-with-underline;
    }
  }

  &-large {
    display: none;
  }
}

@include media {
  .filter {
    &-closed.row,
    &-open {
      @include flex-flow(row nowrap);
      display: none;
    }

    &.closed {
      @include flex-flow(row wrap);
      align-items: center;
    }

    &-large {
      @include flex-flow(row nowrap);
      flex: 1;
      padding: $large-spacing $spacing $spacing;
      width: 80%;

      .label {
        font-size: 1rem;
        min-width: 68px;
        text-transform: none;
      }
    }

    .hr {
      left: 1rem;
      position: relative;
      width: 100vw;
    }

    .dropdown {
      margin-right: $spacing;
      max-height: $spacing;
      max-width: 15rem;
      width: 30%;
      z-index: 1;
    }

    .dropdown-filter.row {
      @include flex-flow(row nowrap);
      border-bottom: 1px solid $color-primary;
      padding: 0;

      .display {
        flex: 0;
        margin: 0;
        padding: 0;
      }
    }

    .dropdown-menu {
      @include drop-shadow;
      background: $color-white;
      height: auto;
      padding: 0;
      width: 100%;

      &.closed {
        display: none;
      }
    }
  }
}

.label {
  &,
  &.open-now {
    font-size: .8rem;
    text-transform: uppercase;

    > .toggle {
      min-height: 19px;
    }
  }
}

.dropdown {
  text-transform: capitalize;

  @include media {
    .label {
      flex: 1;
      padding-bottom: $x-small-spacing / 3;
    }

    .content {
      display: none;
    }
  }
}
