@import '../imports/all';

.grid {
  @include flex-flow(row wrap);
  padding: 0 $spacing;
  width: 100%;

  .loader {
    flex: 1;
  }

  .loading-pane {
    border: unset;
    box-shadow: unset;
    height: 50vw;
    width: 100%;
  }
}
