@import '../imports/all';

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 12.5rem;

  > * {
    margin: $x-small-spacing $spacing;
  }
}

@include media($screen-break-point) {
  .header {
    .content {
      width: 60%;
    }
  }
}
