@import '../imports/all';

.review {
  @include flex-flow(row wrap);
  margin-bottom: $x-large-spacing;

  .details {
    @include flex-flow(column nowrap);
    flex: 1;
    justify-content: space-evenly;
    margin-left: $smallish-spacing;

    .name {
      font-weight: bold;
    }
  }

  .rating {
    margin: $small-spacing 0;
    width: 100%;
  }

  .text {
    margin-bottom: $x-large-spacing;
  }

  img {
    height: 20vw;
    min-height: $image-height * .29;
    min-width: $image-height * .29;
    object-fit: cover;
    width: 20vw;
  }
}


@include media {
  .review {
    img {
      height: $image-height * .4;
      object-fit: cover;
      width: $image-height * .4;
    }

    .info {
      @include flex-flow(row nowrap);
      flex: 1;
    }

    .content {
      flex: 3;
      margin-left: $x-large-spacing * 2;
    }

    .details {
      justify-content: flex-start;
      margin-top: $x-small-spacing / 4;

      .date {
        font-size: .8rem;
      }
    }

    .rating {
      margin-top: 0;
    }

    .hr {
      margin: $x-large-spacing 0 $smaller-spacing;
    }
  }
}
