@import '../imports/all';

.button:not(.learn-more) {
  @extend %button;

  &.clear {
    background: transparent;
    color: $color-primary;

    &:hover:active {
      background: $color-primary;
      color: $color-white;
    }
  }

  &.clear:hover,
  &:hover:active {
    @extend %dark-transparency;
  }

  &:hover {
    @extend %light-transparency;
  }
}
