@import '../imports/all';

.hr {
  background-color: $color-light-gray;
  height: 1px;
  margin: 0;
  width: auto;

  @include media {
    left: -$small-spacing;
    position: relative;
    width: 100vw;
  }
}

.view {
  @include media {
    padding: $small-spacing;
  }

  &:not(.spaced) > .title {
    margin: $spacing;
  }
}

.row {
  @extend %row;
}

.title {
  @extend %title;
}

.content {
  @extend %gray-text;
}

.spaced {
  @extend %spaced;
}
