@import '../imports/all';

.button,
.dropdown,
.switch {
  &-filter {
    @extend %spaced;

    .label {
      text-transform: uppercase;

      &.selected {
        font-weight: bold;
      }
    }
  }
}

.button-filter {
  .options {
    margin: $spacing 0 0;

    .option {
      border: 1px $color-light-gray solid;
      flex: 1 0 20%;
      font-size: .8rem;
      justify-content: space-between;
      padding: $smaller-spacing 0;
      text-align: center;
      text-transform: uppercase;

      &.selected {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

.dropdown-filter.row {
  @include flex-flow(row wrap);

  .label {
    &.help {
      color: $color-gray;
      text-transform: none;
    }
  }

  > .dropdown {
    @extend %dropdown;
    //margin-top: $x-small-spacing;
    width: 100%;
  }

  .option {
    > input {
      display: none;

      &:checked + .text {
        background-color: $color-neon-green;
        transform: translateX($large-spacing - $small-spacing);
      }
    }
  }
}
