@import '../imports/all';

.button,
.dropdown {
  &-selector {
    @extend %spaced;

    .label {
      text-transform: uppercase;

      &.selected {
        font-weight: bold;
      }
    }
  }
}

.button-selector {
  .options {
    margin: $common-spacing 0 0;

    .option {
      //@extend %ellipsis-safe-text;
      border: 1px $color-light-gray solid;
      flex: 1 0 20%;
      justify-content: space-between;
      padding: $common-small-spacing 0;
      text-align: center;
      text-transform: uppercase;

      &.selected {
        background-color: $color-primary;
        color: $color-white
      }
    }
  }
}

.dropdown-selector {

}
