@import '../imports/all';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-stack;
  font-size: $font-regular-size;
  min-width: $min-view-width;
}

a {
  text-decoration: unset;
}

