@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-stack;
  font-size: $font-size;
}

.view {
  min-width: $min-view-width;
}

.row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 12.5rem;

  > * {
    margin: $common-x-small-spacing $common-spacing;
  }

  .title {
    font-size: $font-size-large;
  }
}

.hr {
  background-color: $color-gray;
  height: 1px;
  margin: 0;
  width: 100%;
}

// Semantic UI Slider Component Fix
.ui.slider.checkbox {
  min-height: 19px;
}

@mixin flex($flow: row, $wrap: false) {
  display: flex;
  flex-flow: $flow $wrap;

}
