@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-stack;
  font-size: $font-regular-size;
}

.view {
  min-width: $min-view-width;

  > .title {
    margin: $common-spacing;
  }
}

.row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 12.5rem;

  > * {
    margin: $common-x-small-spacing $common-spacing;
  }
}

.title {
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: $font-large-size;
  justify-content: center;
  letter-spacing: 0;
  line-height: 40px;
}

.content {
  @extend %grey-text;
}

.hr {
  background-color: $color-light-gray;
  height: 1px;
  margin: 0;
  width: 100%;
}

// Semantic UI Slider Component Fix
.ui.slider.checkbox {
  min-height: 19px;
}

@mixin flex($flow: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $flow $wrap;
}

%grey-text {
  color: $color-gray;
}
