@import 'variables';

.View {
  min-width: $min-view-width;
  > .Title {
    padding: 1.5rem 0 2rem;
  }
}

.Row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}