$primary-color: #002B56;

$min-view-width: 340px;

$common-large-margin: 2rem;
$common-margin: 1.5rem;
$common-small-margin: 1rem;
$common-x-small-margin: .5rem;

$font-stack: Helvetica, sans-serif;
$font-size: 16px;
$font-size-large: 24px;
$font-color: white;

$button-line-height: 16px;
