$color-primary: #002b57;
$color-white: #fff;
$color-light-gray: #e6e6e6;
$color-gray: #606060;
$color-dark-gray: #c8c8c8;

$min-view-width: 340px;

$common-large-spacing: 2rem;
$common-spacing: 1.5rem;
$common-small-spacing: 1rem;
$common-x-small-spacing: .5rem;

$font-stack: 'Helvetica Neue', sans-serif;
$font-regular-line-height: 24px;
$font-regular-size: 16px;
$font-large-size: 32px;

$button-line-height: 16px;
