@import 'variables';
@import 'mixins';

%grey-text {
  color: $color-gray;
}

%row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

%title {
  font-family: $font-stack-title;
  font-size: $font-large-size;
  justify-content: center;
  letter-spacing: 0;
  line-height: 40px;
}

%full-screen {
  height: 100vh;
  width: 100vw;
}

%light-transparency {
  @include button-transparency(.9);
}

%dark-transparency {
  @include button-transparency(.1, $color-primary);
}
