@mixin flex($flow: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $flow $wrap;
}

@mixin button-transparency($opacity, $color: null) {
  background: rgba(0, 43, 86, $opacity);
  @if $color != null {
    color: $color;
  }
}
